<h1><%= @restaurant.name %> </h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<ol>
  <% @restaurant.reviews.each do |review| %>
    <li>content: <%= review.content %> rating: <%= review.rating %></li>
  <% end  %>
</ol>


<%= link_to('Add a review', new_restaurant_review_path(@restaurant)) %>
